* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;

}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 1px 1px 10px gray;
}

header .header-left {
    width: 220px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .header-left img {
    width: 50px;
    height: 80px;
}

/* * header-orta */
header .header-orta {
    width: 590px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

header .header-orta a {
    color: black;
    text-decoration: none;
}

header .header-right {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-right button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

header .header-right .btn {
    font-size: 26px;
    display: flex;
    align-items: center;
}

header .header-right .btn:active {
    transform: scale(0.9);
}

header .header-right .yurak:active {
    color: red;
}

header .header-right .yurak:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.serach-katta {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
}

.serach-katta.active {
    display: flex;
}

.serach-katta .serach-kichik {
    width: 500px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 25px;
    margin-top: 30px;
    border-radius: 12px;
}

.serach-katta .serach-kichik .input {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;

}

.serach-katta .serach-kichik .input .input-close {
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.serach-katta .serach-kichik .div {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.serach-katta .serach-kichik .div1 {
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;

}

.serach-katta .serach-kichik input {
    width: 350px;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
}

/* * login active */
.login-katta {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: end;

}

.login-katta.active {
    display: flex;
}
.login-katta .login-kichik h1 {
    width: 250px;
    height: 50px;
    border: 1px solid ;
}
.login-katta .login-kichik {
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 150px;
    margin-top: 60px;
}

.login-katta .login-kichik .lable1,
.login-katta .login-kichik .lable2,
.login-katta .login-kichik .lable3 {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.login-katta .login-kichik .lable1 input,
.login-katta .login-kichik .lable2 input,
.login-katta .login-kichik .lable3 input {
    width: 250px;
    height: 30px;
    padding: 0 10px;
}

.login-katta .login-kichik .login-close {
    width: 250px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

/** h1 */
.h1 {
    width: 450px;
    height: 50px;
    font-size: 40px;
    margin: 50px auto;
}

/* *main */
.main {
    width: 1490px;
    height: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    padding-left: 90px;
}

.main .main-box {
    width: 280px;
    height: 450px;
    padding: 5px;
    background-color: #F4F2F0;
    border-radius: 12px;
}

.main .main-box img {
    width: 270px;
    height: 270px;
}

.main .main-box .main-foter {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.main .main-box .main-foter span {
    width: 50px;
    height: 20px;
    background-color: rgb(223, 217, 217);
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .main-box .main-foter p {
    font-size: 20px;
    font-weight: 300;

}

.main .main-box .main-buyurtma {
    width: 150px;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

/* * main1 */
.main1 {
    width: 1490px;
    height: 100px;
    border-radius: 10px;
    padding: 15px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F2F0;
}

.main1 .main1-box {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.main1 .main1-box i {
    font-size: 35px;
}

.main1 .main1-box .main1-foter {
    width: 270px;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.main1 .main1-box .main1-foter p {
    font-size: 25px;
}

.main1 .main1-box .main1-foter small {
    color: gray;
    font-size: 15px;
}

/* * footer */
footer {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .footer-k {
    width: 1490px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

footer .footer-box {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-box .time {
    width: 250px;
    height: 70px;
    display: flex;
    gap: 15px;
    align-items: center;
}

footer .footer-box .time img {
    width: 50px;
    height: 70px;

}

footer .footer-box .time .time-right {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

footer .footer-box .time .time-right h6 {
    font-size: 25px;
}

footer .footer-box .time .time-right p {
    font-size: 15px;
}

footer .footer-box p {
    font-size: 20px;
}

footer .footer-box .i-lar-uchun {
    width: 220px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-box .i-lar-uchun i {
    width: 50px;
    height: 50px;
    background-color: rgb(102, 95, 95);
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-k .footer-box1 {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-box1 b {
    font-size: 25px;
}

footer .footer-box1 .div1 {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(207, 197, 197);
    font-size: 20px;
}

footer .footer-button {
    width: 1490px;
    height: 70px;
    border-top: 2px solid gray;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}



body.dark {
    background-color: rgba(0, 0, 0, 0.801);
}

body.dark header {
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
}

body.dark header .header-orta a {
    color: white;
}

body.dark h1 {
    color: white;
}

body.dark header .header-right i {
    color: white;
}

body.dark footer {
    background-color: blue;
}